@model EPI_use_Tech_Assessment.Models.Employee
@{
    ViewBag.Title = "changePassword";
    var error = ViewData["err"];
}

<h2>Change Password</h2>
<br />
<label style="color:red">@error</label>
@using (Html.BeginForm("changePassword", "Employees", FormMethod.Post))
{
    <div style="display:none;">
        <input type="text" id="id" name="id" value="@Model.EmployeeID">
    </div>
    <label class="col-md-3">@Html.Label("Old Password:")</label>
    <input class="col-md-3" type="password" id="oldPass" name="oldPass">
    <br />
    <br />
    <label class="col-md-3">@Html.Label("New Password:")</label>
    <input class="col-md-3" type="password" id="newPass" name="newPass">
    <label class="col-md-3">@Html.Label("Confirm Password:")</label>
    <input class="col-md-3" type="password" id="confPass" name="confPass">
    <br />
    <br />
    <span class="label label-warning" id="warningLabel" style="display:none;">Passwords do not match</span>
    <br />
    <br />
    <input type="submit" class="btn btn-primary" , value="Confirm" id="submitButton" />
    <br />
    <br />
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("homePage", "Employees", new { id = Model.EmployeeID })'">
        Cancel
    </button>
}
