
@{
    ViewBag.Title = "forgotPassword";
    var error = ViewData["err"];
}

<h2>Forgot Password</h2>
<br />
<p>Please enter the following information if you have forgotten your password.</p>

<label style="color:red">@error</label>

@using (Html.BeginForm("forgotPassword", "Employees", FormMethod.Post))
{
    <label class="col-md-2">@Html.Label("Email:")</label>
    <input type="text" id="email" name="email">
    <br />
    <br />
    <label class="col-md-2">@Html.Label("New Password:")</label>
    <input type="password" id="NewPass" name="newPass">
    <br />
    <br />
    <label class="col-md-2">@Html.Label("Confirm Password:")</label>
    <input type="password" id="confPass" name="confPass">
    <br />
    <br />
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("loginPage", "Employees")'">
        Cancel
    </button>
    <input type="submit" class="btn btn-primary" , value="Confirm" id="submitButton" />
}