
@{
    ViewBag.Title = "loginPage";
    var error = ViewData["err"];
}

<h2>Login</h2>

<label style="color:red">@error</label>

@using (Html.BeginForm("loginPage", "Employees", FormMethod.Post))
{
    <label>@Html.Label("Email address:")</label>
    @Html.TextBox("email")
    <br />
    <br />
    <label>@Html.Label("Password:")</label>
    <input type="password" id="password" name="password">
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("forgotPassword", "Employees")'">
        Forgot Password
    </button>
    <br />
    <br />
    <input type="submit" class="btn btn-primary" , value="Login" />
    <br />
    <br />
    <p>Don't have an account, create one by clicking the button bellow</p>
    <br />
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("createAccount", "Employees")'">
        Create Account
    </button>
}


